<section class="new-container">
  <p class="new-container-title">
    <%= title %>
  </p>  
  <%= form_for(@post, html: { id: "posts_form", class: "new-container-form"}) do |f| %>

    <div class="new-container-form-title">
      <%= f.text_field :title, placeholder: "Titulo" %>
    </div>

    <div class="new-container-form-title" data-after="0" id="data">
      <%= f.text_area :description, id: "desc", placeholder: "Descripcion" %>
    </div>

    <div class="new-container-form-body">
      <%= f.hidden_field :body, id: "body-textarea" %>
      <%= f.hidden_field :markup_body, id: "markup-body-textarea" %>
      <div id="epiceditor" class="new-container-form-body-epiceditor">
      </div>
    </div>

    <div class="new-container-form-categorias"> 
      <p class="new-container-form-categorias-parr">Categorias</p> 
      <ul class="new-container-form-categorias-list">
        <% @categories.each do |category| %>
          <li class="new-container-form-categorias-list-item"> 
            <%= check_box_tag "categories[]", category.id %> <%= category.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="new-container-form-but">
      <%= f.submit "Crear" %>
    </div>
    
  <% end %>
</section>
<%= javascript_include_tag 'postsNew' %>
