<div class="posts-container">
  <div class="posts-container-title">
    <h1 class="posts-container-title-h1">Vicente Rodríguez blog</h1>
    <strong class="posts-container-title-strong"><i>Programación, cursos, tutoriales y más.</i></strong>
  </div>

  <div class="posts-container-body">
    <ul class="posts-container-body-list">
      <% @posts.each do |post| %>
        <li class="posts-container-body-list-item">
          <h2 class="posts-container-body-list-item-parr">
            <%= post.title.capitalize %>
          </h2>
          <input type="hidden" value="post(<%= post.id %>)" class="input-posts-id"/>

          <div class="posts-container-body-list-item-progress">
            <div class="posts-container-body-list-item-progress-bar progress-bar-post(<%= post.id %>)">
            </div>
          </div>
          <div class="posts-container-body-list-item-subtitle">
            <p class="posts-container-body-list-item-subtitle-categories">
              Categorias:
              <% post.categories.each do |category| %>
                  <span class="posts-container-body-list-item-subtitle-categories-each">
                    <%= category.name.capitalize %>
                  </span>
              <% end %>
            </p>
            <p class="posts-container-body-list-item-subtitle-time">
              <%= post.created_at.strftime("%d %b. %Y") %>
            </p>
          </div>
          <%= link_to "", post, data: { turbolinks: false }, class: "posts-container-body-list-item-link" %>
        </li>
       <% end %>
    </ul>
  </div>
  <%= paginate @posts, :window => 2 %>
</div>
