<% content_for(:title, "#{@post.title}")%>
<% content_for :head  do %>
    <%= inline_css("post.css").html_safe %>
    <%= javascript_include_tag 'hl.js' %>
    <%= inline_js("post.js").html_safe %>
<% end %>

<div class="post-container">
  <div class="post-container-header" style="background: url(<%= url(@url) %>);">
    <div class="back-filter">
      <p class="post-container-header-time"><%= @post.created_at.strftime("%d %b. %Y") %></p>
      <h1 class="post-container-header-title"><%= @post.title.capitalize %></h1>
    </div>
  </div>

  <article class="post-container-body">
    <input type="hidden" value="<%= @post.id %>" class="input-id"/>
    <input type="hidden" value="<%= @post.categories.map {|cat| cat.id } %>" class="input-categories"/>
    <input type="hidden" value="<%= @post.categories.map {|cat| count_posts(cat) } %>" class="input-posts-categories"/>

    <%= Sanitize.fragment(@post.body, Sanitize::Config.merge(Sanitize::Config::RELAXED,
        :elements => Sanitize::Config::RELAXED[:elements] + ['input'],
        :attributes => {
            'input' => ['class', 'type']
        }
    )).html_safe %>
  </article>

  <div class="post-container-categories">
    <ul class="post-container-categories-list">
      <li class="post-container-categories-list-item">
        Categorias:
      </li>
      <% @post.categories.each do |category| %>
        <li class="post-container-categories-list-item">
          <%= link_to category.name, category, class: "post-container-categories-list-item-link"%>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="post-container-footer">
    <div class="fb-like" data-href="http://vincentblog.me/posts/<%= @post.slug %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <h4 class="post-container-footer-h4">Si tienes alguna duda o te gusto el post deja un comentario: </h4>
    <div class="fb-comments" data-href="http://vincentblog.me/posts/<%= @post.slug %>" data-numposts="3" data-width="100%" data-order-by="reverse_time">
    </div>
  </div>
</div>
