<div class="post-container">
  <div class="posts-container-header">
    <p class="post-container-header-time"><%= @post.created_at.strftime("%d %b. %Y") %></p>
    <h1 class="post-container-header-title"><%= @post.title.capitalize %></h1>
  </div>

  <article class="post-container-body">
    <%= Sanitize.fragment(@post.body , Sanitize::Config::RELAXED).html_safe %>
  </article>

  <div class="post-container-categories">
    <ul class="post-container-categories-list">
      <li class="post-container-categories-list-item">
        Categorias: 
      </li>
      <% @post.categories.each do |category| %>
        <li class="post-container-categories-list-item">
          <%= link_to category.name, category, class: "post-container-categories-list-item-link"%>
        </li>
      <% end %>
      <br/>
      <li class="post-container-categories-list-item">
        <%= link_to "Todas las categorias", categories_path, class: "post-container-categories-list-item-link" %>
      </li>
      <li class="post-container-categories-list-item">
        <%= link_to "Todos los posts", posts_path, class: "post-container-categories-list-item-link" %>
      </li>
    </ul>
  </div>

  <div class="post-container-footer">
    <h4 class="post-container-footer-h4">Si tienes alguna duda o te gusto el post deja un comentario: </h4>
    <div class="fb-comments" data-href="http://vcap.me:3000/<%= @post.slug %>" data-numposts="3" data-width="100%" data-order-by="reverse_time">
    </div>
  </div>
</div>

<%= javascript_include_tag 'hl', 'data-turbolinks-track' => false  %>
<%= javascript_include_tag 'post', 'data-turbolinks-track' => false  %>
<%= stylesheet_link_tag  'post/post', media: 'all' %>

