<% content_for(:title, "Vicente Rodríguez Blog - #{@category.name}")%>
<div class="posts-container">
  <div class="posts-container-title">
    <h1 class="posts-container-title-h3">Curso de <%= @category.name %></h1>
  </div>

  <div class="posts-container-body">
    <ul class="posts-container-body-list">
      <% @category.posts.each do |post| %>
        <li class="posts-container-body-list-item">
          <h2 class="posts-container-body-list-item-parr">
            <%= post.title.capitalize %>
          </h2>
          <input type="hidden" value="post(<%= post.id %>)" class="input-posts-id"/>
          <div class="posts-container-body-list-item-progress">
            <div class="posts-container-body-list-item-progress-bar progress-bar-post(<%= post.id %>)">
            </div>
          </div>
          <div class="posts-container-body-list-item-subtitle">
            <p class="posts-container-body-list-item-subtitle-categories">
            </p>
            <p class="posts-container-body-list-item-subtitle-time">
              <%= post.created_at.strftime("%d %b. %Y") %>
            </p>
          </div>
          <%= link_to "", post, data: { no_turbolink: true }, class: "posts-container-body-list-item-link" %>
        </li>
       <% end %>
    </ul>
  </div>
</div>
</div>
