<!DOCTYPE html>
<html>
<head>
  <title> <%= title(yield :title)%> </title>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <%= render "./layouts/styles" %>
  <%= render "./layouts/scripts" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>

<%= render "./layouts/nav" %>
<%= render "./layouts/notice"%>

<div class="container">
  <%= yield %>
</div>

<%= render "./layouts/footer" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
