<!DOCTYPE html>
<html>
<head>
  <title><%= title(yield :title) %></title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render "./layouts/og_card" %>
  <%= inline_css("main.css").html_safe %>
  <%= inline_js("sitewide.js").html_safe %>
  <%= render "./layouts/analytics" %>
  <%= display_meta_tags %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="extendMenu"></div>
  <div id="fb-root"></div>
  <%= render "./layouts/nav" %>
  <%= render "./layouts/notice"%>
  <div class="container">
    <%= yield %>
  </div>
  <%= render "./layouts/footer" %>
</body>
</html>
