<!DOCTYPE html>
<html>
<head>
  <title> <%= title(yield :title)%> </title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :async => true%>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta property="fb:app_id" content="470272653097747" />
  <%= render "./layouts/styles" %>
  <%= render "./layouts/analytics" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>

<%= render "./layouts/nav" %>
<%= render "./layouts/notice"%>

<div class="container">
  <%= yield %>
</div>

<%= render "./layouts/footer" %>
<%= render "./layouts/scripts" %>
<%= render "./layouts/analytics" %>
</body>
</html>
